//Git
<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="usermane">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>